<head>
    <style>
    .title {
            font-weight: 700;
            font-size: var(--f-u8);
            margin-top: 0;

            @media (min-width: $w-s) {
                font-size: var(--f-u12);
            }
        }
    </style>
</head>
<section class="mb-32" id="technologies">
    <h1 class="title">Technologies</h1>
    <p class="mb-14">These is some of the technologies, and tools I dominate.</p>
    <div class="grid grid-cols-4 place-items-center gap-y-16">
        <div class="w-14 h-14 bg-[url('/assets/icons/bash.svg')] bg-center bg-no-repeat bg-contain"></div>
        <div class="w-14 h-14 bg-[url('/assets/icons/css.svg')] bg-center bg-no-repeat bg-contain"></div>
        <div class="w-14 h-14 bg-[url('/assets/icons/html.svg')] bg-center bg-no-repeat bg-contain"></div>
        <div class="w-14 h-14 bg-[url('/assets/icons/git.svg')] bg-center bg-no-repeat bg-contain"></div>
        <div class="w-14 h-14 bg-[url('/assets/icons/js.svg')] bg-center bg-no-repeat bg-contain"></div>
        <div class="w-14 h-14 bg-[url('/assets/icons/typescript.svg')] bg-center bg-no-repeat bg-contain"></div>
        <div class="w-14 h-14 bg-[url('/assets/icons/nodejs.svg')] bg-center bg-no-repeat bg-contain"></div>
        <div class="w-14 h-14 bg-[url('/assets/icons/sass.svg')] bg-center bg-no-repeat bg-contain"></div>
        <div class="w-14 h-14 bg-[url('/assets/icons/reactjs.svg')] bg-center bg-no-repeat bg-contain"></div>
        <div class="w-14 h-14 bg-[url('/assets/icons/webpack.svg')] bg-center bg-no-repeat bg-contain"></div>
        <div class="w-14 h-14 bg-[url('/assets/icons/npm.svg')] bg-center bg-no-repeat bg-contain"></div>
    </div>
</section>